<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nodepop</h1>
    <p style="text-align: center">Welcome to Nodepop Advertisements</p>
  
  <h2 style="text-align: center" >Avaible Deals</h2>
  </br>
     <div class="grid">
    <% adList.forEach(ad => { %>
      <article class="grid">
        <img src="/images/<%= ad.photo %> "   width="200" height="160">
        <ul style="margin-left:-7vw">
            <li>Product name: <%= ad.name %> </li>
            <li>Price: <%= ad.price %> </li>
            <li>Transaction Type: <%= ad.sale %> </li>
            <li>Tags: <%= ad.tags %> </li>
        </ul>
     </article>
      <% }) %> 
   </div>
 
  
  

</body>
</html>
