
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  margin-top: -1vw;
  text-align: center;

}

.grid{
 
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0rem;
  align-items:baseline;
  /* top: 0; */
  margin-top: 0;
}


.grid>article{
  box-sizing: border-box;
  margin-left: 5vw;
}

li{
  list-style-type: none;
}

.grid ul{
  /* margin-left:0vw; */
}

